In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import zipfile

zip_path = '/content/drive/MyDrive/swiggy.zip'  # Replace with the actual path to your ZIP file
unzip_path = '/content/dataset'  # Choose a directory to unzip the contents

# Create the target directory if it doesn't exist
!mkdir -p "$unzip_path"

# Unzip the dataset
with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall(unzip_path)

print('Dataset has been successfully unzipped.')

Dataset has been successfully unzipped.

In [3]:
import numpy as np
import pandas as pd
import json

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.offline as pyo

In [4]:


json_file_path = '/content/dataset/data.json'  # Replace with the actual path to your JSON file

# Opening JSON file
f = open('/content/dataset/data.json')
#f = open('Swiggy/data.json')


# returns JSON object as a dictionary
data = json.load(f)

#print(data.keys())

f.close()

In [5]:
type(data)

dict

In [6]:
Cities = list(data.keys())
len(Cities)

623

In [7]:
c = Cities[453]

print('City Name :',c)

#print(data[c].keys())
print('Link :',data[c]['link'])
id = list(data[c]['restaurants'].keys())
print('First Restaurant id            :',id[0])
# print(data[c]['restaurants'][id[0]].keys())
print('First Restaurant Name          :', data[c]['restaurants'][id[0]]['name'])
print('First Restaurant Rating        :', data[c]['restaurants'][id[0]]['rating'])
print('First Restaurant Rating_Counts :', data[c]['restaurants'][id[0]]['rating_count'])
print('First Restaurant Cost          :', data[c]['restaurants'][id[0]]['cost'])
print('First Restaurant Address       :', data[c]['restaurants'][id[0]]['address'])
print('First Restaurant Cuisine       :', data[c]['restaurants'][id[0]]['cuisine'])
print('First Restaurant License No.   :', data[c]['restaurants'][id[0]]['lic_no'])
#print('First Restaurant Menu          :', Menu)

Menu = list(data[c]['restaurants'][id[0]]['menu'].keys())
print('*'*45,data[c]['restaurants'][id[0]]['name'],',',c,'- Menu','*'*45)

for item in Menu:
    print(item)
    Sub_menu = list(data[c]['restaurants'][id[0]]['menu'][item].keys())
    for sub_item in Sub_menu :
        print(sub_item,'>>> Price :',data[c]['restaurants'][id[0]]['menu'][item][sub_item]['price'], end =' | ')
        print('veg_or_non_veg :',data[c]['restaurants'][id[0]]['menu'][item][sub_item]['veg_or_non_veg'])
    print('-'*100)


print('First Restaurant Link          :',data[c]['restaurants'][id[0]]['link'])

City Name : Patna
Link : https://www.swiggy.com/city/patna
First Restaurant id            : 254859
First Restaurant Name          : Biryani By Kilo
First Restaurant Rating        : 4.1
First Restaurant Rating_Counts : 500+ ratings
First Restaurant Cost          : â‚¹ 700
First Restaurant Address       : Biryani By Kilo, Commercial First Floor, 21, Patliputra Colony, Opp. UNICEF OFFICE, Patna- 800013, Bihar
First Restaurant Cuisine       : Biryani,Mughlai
First Restaurant License No.   : 10420000000041
********************************************* Biryani By Kilo , Patna - Menu *********************************************
Recommended
Peshawari Chole Biryani [1/2 Kg] Serves 1-2 >>> Price : 370 | veg_or_non_veg : Veg
Chicken Hyderabadi Dum Biryani [1/2 Kg] Serves 1-2 >>> Price : 485 | veg_or_non_veg : Non-veg
Chicken Boneless Dum Biryani [1/2 Kg] Serves 1-2 >>> Price : 545 | veg_or_non_veg : Non-veg
Malamaal Murg Dum Biryani [1/2 Kg] Serves 1-2 >>> Price : 625 | veg_or_non_veg : Non-veg
Mutton Hyderabadi Dum Biryani [1/2 Kg] Serves 1-2 >>> Price : 665 | veg_or_non_veg : Non-veg
Kolkata Chicken Biryani - [1Kg] Serves 2-3 >>> Price : 775 | veg_or_non_veg : Non-veg
----------------------------------------------------------------------------------------------------
Newly Launched
Prawns 65 Biryani (1/2 Kg) >>> Price : 595 | veg_or_non_veg : Non-veg
Fish Biryani (1/2 Kg) >>> Price : 585 | veg_or_non_veg : Non-veg
Prawns 65 (8 Pcs) >>> Price : 425 | veg_or_non_veg : Non-veg
----------------------------------------------------------------------------------------------------
Single Serves
Veg Hyderabadi Biryani - Single Portion >>> Price : 220 | veg_or_non_veg : Veg
Chicken Lucknowi Biryani - Single Portion >>> Price : 255 | veg_or_non_veg : Non-veg
Chicken Hyderabadi Boneless Biryani - Single Portion >>> Price : 260 | veg_or_non_veg : Non-veg
----------------------------------------------------------------------------------------------------
Hyderabadi Biryani
Peshawari Chole Biryani [1/2 Kg] Serves 1-2 >>> Price : 370 | veg_or_non_veg : Veg
Chicken Hyderabadi Dum Biryani [1/2 Kg] Serves 1-2 >>> Price : 485 | veg_or_non_veg : Non-veg
Chicken Hyderabadi Dum Biryani -[1 Kg] Serves 2-3 >>> Price : 795 | veg_or_non_veg : Non-veg
Chicken Boneless Dum Biryani [1/2 Kg] Serves 1-2 >>> Price : 545 | veg_or_non_veg : Non-veg
Malamaal Murg Dum Biryani [1/2 Kg] Serves 1-2 >>> Price : 625 | veg_or_non_veg : Non-veg
Mutton Hyderabadi Dum Biryani [1/2 Kg] Serves 1-2 >>> Price : 665 | veg_or_non_veg : Non-veg
Rara Mutton Biryani [1/2kg] Serves 1-2 >>> Price : 665 | veg_or_non_veg : Non-veg
----------------------------------------------------------------------------------------------------
Lucknowi Biryani
Chicken Lucknowi Biryani [1/2Kg] Serves 1-2 >>> Price : 485 | veg_or_non_veg : Non-veg
Chicken Lucknowi Biryani -[1 Kg] Serves 2-3 >>> Price : 795 | veg_or_non_veg : Non-veg
Mutton Lucknowi Biryani [1/2 Kg] Serves 1-2 >>> Price : 665 | veg_or_non_veg : Non-veg
----------------------------------------------------------------------------------------------------
Kolkata Biryani
Kolkata Chicken Biryani - [1Kg] Serves 2-3 >>> Price : 775 | veg_or_non_veg : Non-veg
Kolkata Mutton Biryani - [1Kg] Serves 2-3 >>> Price : 895 | veg_or_non_veg : Non-veg
----------------------------------------------------------------------------------------------------
Kebabs
Mutton Galouti (4pcs) >>> Price : 325 | veg_or_non_veg : Non-veg
Veg Galouti (4pcs) >>> Price : 165 | veg_or_non_veg : Veg
Paneer 65 (10pcs) >>> Price : 215 | veg_or_non_veg : Veg
Chicken Ghee Roast (5pcs) >>> Price : 225 | veg_or_non_veg : Non-veg
Chicken Seekh Kebab (8pcs) >>> Price : 225 | veg_or_non_veg : Non-veg
----------------------------------------------------------------------------------------------------
Korma & Curries
Chicken Korma - 250 gms >>> Price : 275 | veg_or_non_veg : Non-veg
Paneer Nawabi - 250 gms >>> Price : 255 | veg_or_non_veg : Veg
Dum Nihari Gosht [350gms] >>> Price : 395 | veg_or_non_veg : Non-veg
----------------------------------------------------------------------------------------------------
Platter
Veg Platter >>> Price : 569 | veg_or_non_veg : Veg
Non Veg Platter >>> Price : 729 | veg_or_non_veg : Non-veg
----------------------------------------------------------------------------------------------------
Celebration Combos (Save Upto 31%)
Veg Celebration Combo >>> Price : 1499 | veg_or_non_veg : Veg
Chicken Celebration Combo >>> Price : 1899 | veg_or_non_veg : Non-veg
----------------------------------------------------------------------------------------------------
Desserts & Beverages
Imli Adraki Lemonade >>> Price : 75 | veg_or_non_veg : Veg
Gulab Jamun with Rabri >>> Price : 165 | veg_or_non_veg : Veg
Pepsi (500ml) >>> Price : 55 | veg_or_non_veg : Veg
Matka Phirni [1/2 Kg] >>> Price : 295 | veg_or_non_veg : Veg
Masala Shikanji >>> Price : 90.50 | veg_or_non_veg : Veg
----------------------------------------------------------------------------------------------------
Breads & Extras
Rumali Roti >>> Price : 40 | veg_or_non_veg : Veg
Raita >>> Price : 60 | veg_or_non_veg : Veg
Ulte Tawa Ka Parantha >>> Price : 65 | veg_or_non_veg : Veg
Masala Curry >>> Price : 70 | veg_or_non_veg : Veg
----------------------------------------------------------------------------------------------------
First Restaurant Link          : https://www.swiggy.com/restaurants/biryani-by-kilo-patliputra-colony-patna-254859

In [8]:
Data = pd.DataFrame()                               # Create an Empty Dataframe

for city in Cities:
    try:
        # Convert the city-wise restaurant data to pandas Dataframe
        DF = pd.DataFrame(data[city]['restaurants']).T

        # add City column for each restaurants in that city
        City = [city for i in range(DF.shape[0])]
        DF['City'] = City

        # Because no sub-region so considering city as sub-region
        SubRegion = City
        DF['SubRegion'] = SubRegion

        # Concatenate to main Dataframe
        Data = pd.concat([Data,DF])

    except:

        Subregions = list(data[city].keys())
        for region in Subregions:

            # Convert the city-wise restaurant data to pandas Dataframe
            DF = pd.DataFrame(data[city][region]['restaurants']).T

            # City
            City = [city for i in range(DF.shape[0])]
            # Add City column for each restaurants in that city
            DF['City'] = City

            # Sub-region
            SubRegion = [region for i in range(DF.shape[0])]

            # add sub-region column for each restaurants in that city
            DF['SubRegion'] = SubRegion
            Data = pd.concat([Data,DF])

Data.shape

(181404, 13)

In [12]:
def Menu(Data, i):
    Menu = list(Data.menu[i].keys())
    print('*'*35,Data['name'][i],',',Data['SubRegion'][i],Data['City'][i],'- Menu','*'*35)

    for item in Menu:
        print(item)
        Sub_menu = list(Data.menu[i][item].keys())
        for sub_item in Sub_menu :
            print(sub_item,'>>> Price :',Data.menu[i][item][sub_item]['price'], end =' | ')
            print('veg_or_non_veg :',Data.menu[i][item][sub_item]['veg_or_non_veg'])
        print('-'*100)

Menu(Data, 11223)

*********************************** Food Decker , Koramangala Bangalore - Menu ***********************************
Pasta
Fried Chicken Maggi >>> Price : 100 | veg_or_non_veg : Non-veg
Fried Veg Maggi >>> Price : 80 | veg_or_non_veg : Veg
Egg Maggi >>> Price : 80 | veg_or_non_veg : Non-veg
Veg Maggi >>> Price : 60 | veg_or_non_veg : Veg
----------------------------------------------------------------------------------------------------
Sandwiches
Chicken Fried Sandwich >>> Price : 150 | veg_or_non_veg : Non-veg
Chicken Sandwich >>> Price : 100 | veg_or_non_veg : Non-veg
Bread Butter Cheese >>> Price : 60 | veg_or_non_veg : Veg
Aloo Cheese Sandwich >>> Price : 100 | veg_or_non_veg : Veg
Veg  Cheese Grill Sandwich >>> Price : 100 | veg_or_non_veg : Veg
Veg Sandwich >>> Price : 80 | veg_or_non_veg : Veg
----------------------------------------------------------------------------------------------------
Rolls
Chowmein Roll >>> Price : 100 | veg_or_non_veg : Veg
Malai Tikka Roll >>> Price : 120 | veg_or_non_veg : Veg
Aloo Roll >>> Price : 80 | veg_or_non_veg : Veg
Roll Paneer >>> Price : 70 | veg_or_non_veg : Veg
Veg Loaded Roll >>> Price : 100 | veg_or_non_veg : Veg
Veg Roll >>> Price : 80 | veg_or_non_veg : Veg
Paneer & Egg Roll >>> Price : 90 | veg_or_non_veg : Non-veg
Double Egg Roll >>> Price : 120 | veg_or_non_veg : Non-veg
Egg Roll >>> Price : 80 | veg_or_non_veg : Non-veg
----------------------------------------------------------------------------------------------------
Milkshakes
Dark Chocolate Milkshake >>> Price : 140 | veg_or_non_veg : Veg
Vanilla Chocolate Milkshake >>> Price : 110 | veg_or_non_veg : Veg
Cold Coffee >>> Price : 90 | veg_or_non_veg : Veg
Food Decker Milkshake >>> Price : 120 | veg_or_non_veg : Veg
Black Current Milkshake >>> Price : 110 | veg_or_non_veg : Veg
Oreo Milkshake >>> Price : 110 | veg_or_non_veg : Veg
Choco Milkshakes >>> Price : 110 | veg_or_non_veg : Veg
Dates Milkshakes >>> Price : 110 | veg_or_non_veg : Veg
----------------------------------------------------------------------------------------------------

In [13]:
### Save our original Dataframe
Data.to_csv('Swiggy_data.csv')

In [14]:
# Read the saved dataframe
df = pd.read_csv('Swiggy_data.csv')

In [15]:
menus = []
for i in range(Data.shape[0]):
    try:
        menus.append(', '.join([key for key in Data.menu[i].keys()]))
    except:
        menus.append(np.NaN)
print(len(menus))
print(df.shape[0])

df['menu'] = menus

181404
181404

In [16]:
#Data Cleaning
df = df.rename(columns={'Unnamed: 0':'id', 'name':'Restaurant'})
df.drop_duplicates(subset='id', keep='first', inplace = True)
#df.set_index('id', inplace=True)
df.shape

(160621, 14)

In [18]:
df = df.loc[:,['id','Restaurant','City','SubRegion','cost','cuisine','rating','rating_count','lic_no',
               'address','menu','link', 'type', 'price']]
df.head(10)

,id,Restaurant,City,SubRegion,cost,cuisine,rating,rating_count,lic_no,address,menu,link,type,price
0,567335,AB FOODS POINT,Abohar,Abohar,â‚¹ 200,"Beverages,Pizzas",--,Too Few Ratings,22122652000138,"AB FOODS POINT, NEAR RISHI NARANG DENTAL CLINI...","Burger, Pasta Must Try, Chiness Appetizer, Fri...",https://www.swiggy.com/restaurants/ab-foods-po...,NaN,NaN
1,531342,Janta Sweet House,Abohar,Abohar,â‚¹ 200,"Sweets,Bakery",4.4,50+ ratings,12117201000112,"Janta Sweet House, Bazar No.9, Circullar Road,...","Breakfast, Drinks (beverages), Combos, Sweets,...",https://www.swiggy.com/restaurants/janta-sweet...,NaN,NaN
2,158203,theka coffee desi,Abohar,Abohar,â‚¹ 100,Beverages,3.8,100+ ratings,22121652000190,"theka coffee desi, sahtiya sadan road city","Recommended, Family Binge Combos, Hot Coffee, ...",https://www.swiggy.com/restaurants/theka-coffe...,NaN,NaN
3,187912,Singh Hut,Abohar,Abohar,â‚¹ 250,"Fast Food,Indian",3.7,20+ ratings,22119652000167,"Singh Hut, CIRCULAR ROAD NEAR NEHRU PARK ABOHAR","Recommended, Soya Chaap, Gravy Item, Chinese H...",https://www.swiggy.com/restaurants/singh-hut-n...,NaN,NaN
4,543530,GRILL MASTERS,Abohar,Abohar,â‚¹ 250,"Italian-American,Fast Food",--,Too Few Ratings,12122201000053,"GRILL MASTERS, ADA Heights, Abohar - Hanumanga...","Veg Burgers, Non-Veg Burgers, Veg Wraps, Non V...",https://www.swiggy.com/restaurants/grill-maste...,NaN,NaN
5,158204,Sam Uncle,Abohar,Abohar,â‚¹ 200,Continental,3.6,20+ ratings,22119652000052,"Sam Uncle, hanumangarh road near raja bajaj sh...","Recommended, Burgers, Sandwiches, Pizza's, Swe...",https://www.swiggy.com/restaurants/sam-uncle-c...,NaN,NaN
6,156588,shere punjab veg,Abohar,Abohar,â‚¹ 150,North Indian,4.0,100+ ratings,22120652000021,"shere punjab veg, major surinder chowk near ve...","Recommended, Family Binge Combos, Vegetable, P...",https://www.swiggy.com/restaurants/shere-punja...,NaN,NaN
7,244866,Shri Balaji Vaishno Dhaba,Abohar,Abohar,â‚¹ 100,North Indian,--,Too Few Ratings,22119652000389,"Shri Balaji Vaishno Dhaba, St no 13,6th chowk,...","Main Course, Raita, Indian Breads",https://www.swiggy.com/restaurants/shri-balaji...,NaN,NaN
8,156602,Hinglaj Kachori Bhandhar,Abohar,Abohar,â‚¹ 100,"Snacks,Chaat",4.2,20+ ratings,22119652000042,"Hinglaj Kachori Bhandhar, street no 11 circula...","Recommended, Snacks",https://www.swiggy.com/restaurants/hinglaj-kac...,NaN,NaN
9,158193,yummy hub,Abohar,Abohar,â‚¹ 200,Indian,--,Too Few Ratings,22119652000045,"yummy hub, hanumangarh road near dr naveen set...","Indian, Patties",https://www.swiggy.com/restaurants/yummy-hub-c...,NaN,NaN

In [19]:
Null = df.isnull().sum().reset_index().rename({0:'Null'}, axis = 1)
Null['% Null'] = round((Null['Null']/df.shape[0])*100, 0)
Null.sort_values(by='% Null', ascending = False).style.background_gradient()

In [20]:
df = df.drop(['type','price'], axis =1)
df.dropna(inplace = True, axis = 0)
df.reset_index(inplace = True)
df.drop(['index'], axis = 1, inplace = True)
df.shape

(148290, 12)

In [26]:
df.cost = df.cost.str.split(' ',1, expand=True)[1].astype('int')
df.cost.dtypes

<ipython-input-26-704a2a80db7b>:1: FutureWarning:

In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.

dtype('int64')

In [21]:
df.City.replace(['Noida-1','Noida'],'Noida',inplace=True)

### 1-How many cities (including subregions) where Swiggy is having its restaurants listed?
* There are `820` Cities (including subregions) where swiggy is having their restaurants listed.

In [22]:
# In SubRegion column contains City name also.
df['SubRegion'].nunique()       # Noida & Noida-1 are same city to count reduce by 1

820

###2-How many cities  (don't include subregions) where Swiggy is having their restaurants listed?
There are `551` cities, where swiggy is having their restaurants listed(excluding Subregions).

In [23]:
# City column contains only the main city name
df['City'].nunique()           # Noida & Noida-1 are same city to count reduce by 1

551

###3-The Subregion of Delhi with the maximum number of restaurants listed on Swiggy?
Indirapuram is the Subregion of Delhi with the maximum number of restaurants listed on Swiggy?

In [24]:
d = df[df.City == 'Delhi']
d.groupby('SubRegion')['Restaurant'].count().sort_values(ascending=False).reset_index(name='Restaurants counts').head().style.background_gradient()

###Name the top 5 Most Expensive Cities in the Datasets.

In [27]:
Expensive = df.groupby('City', as_index=False).agg('mean')[['City','cost']].sort_values(by='cost', ascending = False)

fig =px.bar(Expensive.head(),
            x= 'City',
            y= 'cost',
            labels = {'City':'Top 5 City','cost':'Cost'},
            template='plotly_dark',
            color_discrete_sequence = px.colors.qualitative.G10_r,
            title='<b>Most Expensive City')

fig.show()

pyo.plot(fig, filename = 'Most Expensive City.html', auto_open = True)

<ipython-input-27-4001c420f5f5>:1: FutureWarning:

The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.

'Most Expensive City.html'

In [35]:
Rating = []
for i in range(df.shape[0]):
    try:
        Rating.append(float(df.rating[i]))
    except:
        #print(Data.rating[i])
        if df.rating[i] == '--' or 'NA':
            Rating.append(np.NaN)                # Where rating is not givem keep it null
        else:
            print(df.rating[i])
print(len(Rating))
print(df.shape[0])
df.rating = Rating
df.rating.dtypes

148290
148290

dtype('float64')

###List out the top 5 Restaurants with Maximum & minimum ratings throughout the dataset.
5 Restaurant with Maximum rating throughout the dataset are Pablo Premium Kitchen, The best diet corner, Creams and Bites and Bansal's Thali & Combo Meals.
There are 209 Restaurants, which has the maximum 5.0 rating.

5 Restaurant with Minimum rating throughout the dataset are Ice Cream and Shakes, Co Persian Delight ,SHAWARMA WRAP ROLL YOUR SECRETS,THE TARI STORY and  The Hyderabadi Biryani House.

In [36]:
print('The maximum rating Restaurant are:')
df[df.rating ==df.rating.max()][['Restaurant', 'rating']]

The maximum rating Restaurant are:

                             Restaurant  rating
757               Pablo Premium Kitchen     5.0
1021               The best diet corner     5.0
9758                   Creams and Bites     5.0
9808       Bansal's Thali & Combo Meals     5.0
10239   GOWHEY- HEALTHY DESSERT COMPANY     5.0
...                                 ...     ...
140515                   Chenab Kitchen     5.0
146038                      Cream House     5.0
147204                HINDUSTANI BURGER     5.0
147205                     KEBAB NATION     5.0
147211                      DELHI GALLI     5.0

[209 rows x 2 columns]

In [39]:
print('The top 5 restaurant(s) with the minimum rating are:')
min_rating_restaurants = df.nsmallest(5, 'rating')
print(min_rating_restaurants[['Restaurant', 'rating']])

The top 5 restaurant(s) with the minimum rating are:
                              Restaurant  rating
34240            Ice Cream and Shakes Co     1.0
18539                    Persian Delight     1.1
36540  SHAWARMA WRAP - ROLL YOUR SECRETS     1.2
51869                     THE TARI STORY     1.2
68076       The Hyderabadi Biryani House     1.2

###6-Name of top 5 cities with the highest number of restaurants listed.

In [40]:
top_cities = df['City'].value_counts().nlargest(5)
print('Top 5 cities with the highest number of restaurants listed:')
print(top_cities)

Top 5 cities with the highest number of restaurants listed:
Bangalore    15288
Delhi        14048
Pune         12412
Hyderabad     9996
Chennai       9940
Name: City, dtype: int64

###7-Top 10 cities as per the number of restaurants listed?

In [41]:
top_cities = df['City'].value_counts().nlargest(10)
print('Top 10 cities with the highest number of restaurants listed:')
print(top_cities)

Top 10 cities with the highest number of restaurants listed:
Bangalore     15288
Delhi         14048
Pune          12412
Hyderabad      9996
Chennai        9940
Kolkata        8271
Mumbai         6064
Ahmedabad      3538
Chandigarh     3311
Lucknow        2842
Name: City, dtype: int64

In [45]:
df.rating_count.unique()

array(['Too Few Ratings', '50+ ratings', '100+ ratings', '20+ ratings',
       '500+ ratings', '1K+ ratings', '5K+ ratings', '10K+ ratings'],
      dtype=object)

In [46]:
review = {}
for rating in df.rating_count.unique():
    if rating == 'Too Few Ratings':
        review[rating] = 0
    else:
        try:
            review[rating] = int(rating.split('+')[0])
        except:
            if rating.split('+')[0][-1] == 'K':
                review[rating] = int(rating.split('+')[0][:-1])*1000
review

{'Too Few Ratings': 0,
 '50+ ratings': 50,
 '100+ ratings': 100,
 '20+ ratings': 20,
 '500+ ratings': 500,
 '1K+ ratings': 1000,
 '5K+ ratings': 5000,
 '10K+ ratings': 10000}

In [47]:
reviews = []
for i in range(df.shape[0]):
    reviews.append(review[df.rating_count[i]])
print(len(reviews))
print(df.shape[0])

df['Reviews'] = reviews

148290
148290

###8-Name the top 5 Most Popular Restaurants in Pune.

In [77]:
d = df.sort_values(by = 'Reviews', ascending=False)[['Restaurant', 'SubRegion', 'City', 'rating_count','Reviews']]
d[d.City == 'Pune'].head(5)

                     Restaurant   SubRegion  City rating_count  Reviews
122173  Kinara's Maratha Darbar     Kothrud  Pune  1K+ ratings     1000
132448               Irani Cafe  Magarpatta  Pune  1K+ ratings     1000
128741              Burger King        PCMC  Pune  1K+ ratings     1000
129987               McDonald's       Aundh  Pune  1K+ ratings     1000
132389          Godavari Snacks  Magarpatta  Pune  1K+ ratings     1000

###9-Which SubRegion in Delhi is having the least expensive restaurant in terms of cost?

In [58]:
delhi_data = df[df['City'] == 'Delhi']

# Group by SubRegion and calculate the mean cost for each SubRegion
subregion_costs = delhi_data.groupby('SubRegion')['cost'].mean().sort_values()

# Get the SubRegion with the lowest mean cost
least_expensive_subregion = subregion_costs.idxmin()

print(f"The SubRegion in Delhi with the least expensive restaurants in terms of cost is: {least_expensive_subregion}")

The SubRegion in Delhi with the least expensive restaurants in terms of cost is: Sector 18

###10-Top 5 most popular restaurant chains in India?

In [69]:
d = df.groupby('Restaurant', as_index=False).agg('count')[['Restaurant', 'id']].sort_values(by='id', ascending = False)
top_5_restaurant_chains = d.head(5)
print(top_5_restaurant_chains)

                                            Restaurant   id
28539                                   Domino's Pizza  443
73612                                        Pizza Hut  319
49040                                              KFC  309
53384  Kwality Walls Frozen Dessert and Ice Cream Shop  299
11753                                   Baskin Robbins  276

###11-Which restaurant in Pune has the most number of people visiting?

In [78]:
d = df.sort_values(by = 'Reviews', ascending=False)[['Restaurant', 'SubRegion', 'City','rating', 'rating_count','Reviews']]
d[d.City == 'Pune'].head(5)

,Restaurant,SubRegion,City,rating,rating_count,Reviews
122173,Kinara's Maratha Darbar,Kothrud,Pune,4.1,1K+ ratings,1000
132448,Irani Cafe,Magarpatta,Pune,4.3,1K+ ratings,1000
128741,Burger King,PCMC,Pune,4.0,1K+ ratings,1000
129987,McDonald's,Aundh,Pune,4.2,1K+ ratings,1000
132389,Godavari Snacks,Magarpatta,Pune,4.2,1K+ ratings,1000

###12-Top 10 Restaurants with Maximum Ratings in Banglore

In [83]:
top_restaurants_bangalore = df[(df['City'] == 'Bangalore')].nlargest(10, 'rating')
print('Top 10 Restaurants with Maximum Ratings in Bangalore:')
print(top_restaurants_bangalore[['Restaurant', 'rating']])

Top 10 Restaurants with Maximum Ratings in Bangalore:
                                        Restaurant  rating
9758                              Creams and Bites     5.0
9808                  Bansal's Thali & Combo Meals     5.0
10239              GOWHEY- HEALTHY DESSERT COMPANY     5.0
10687  JUST CREAMERY - Artisanal Healthy Ice Cream     5.0
11181                       The Chinese Connection     5.0
11894                                HRX by Eatfit     5.0
12143                                HUNGER TREATS     5.0
12167                                   Snack Ride     5.0
12936  JUST CREAMERY - Artisanal Healthy Ice Cream     5.0
13058                           Fresh crunch pizza     5.0

###13-Top 10 Restaurant in Patna w.r.t rating

In [88]:
Patna= df[df['City'] == 'Patna']
Patna[Patna['rating'] == Patna['rating'].max()][['Restaurant','City','rating']]
Top = df.City.value_counts(ascending=False).reset_index().rename({'index':'City', 'City':'Counts'}, axis=1).head(10)

fig =px.bar(Patna.sort_values(by='rating',ascending = False).head(10),
            x= 'Restaurant',
            y= 'rating',
            labels = {'Restaurant':'Top 10 Restaurants in Patna','rating':'Rating'},
            template='plotly_dark',
            color_discrete_sequence = px.colors.qualitative.Bold,
            title='<b>Top 10 Restaurant in Patna w.r.t rating')

fig.show()

pyo.plot(fig, filename = 'Top 10 Restaurant in Patna w.r.t rating.html', auto_open = True)

'Top 10 Restaurant in Patna w.r.t rating.html'